*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.banner{
    height: 576px;
    width: 100%;
    background-color :  #F0FFF0;
}
nav{
    height: 76px;
    position: relative;
}
.navbar-nav{
    position: absolute;
    right: 0;
}
.navbar-brand img{
    max-height: 50px;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.nav-item:last-child .nav-link, .get-started, .enroll-btn{
    font-size: 16px;
    padding: 6px 25px;
    border: none;
    border-radius: 33px;
    color: #fff;
    background-color: #21B573;
}

.banner-content{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.contents{
    max-width: 320px;
    padding: 20px 0px;
}
.important{
    font-size: 16px;
    color: #FD511A;
    margin: 0;
    padding: 5px 0px;
}
.content-heading{
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
.heilight{
    color: #21B573;
}
.content-description{
    font-size: 15px;
    color: #6C6B6B;
    margin-bottom: 20px;
}
.banner-image{
    max-width: 450px;
}
.banner-image img{
    width: 100%;
}
/*==============banner end=======*/


/*========= quick access start========*/
.quick-access{
    padding: 50px 20px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8FFF8;
    padding: 30px 10px;
    border-radius: 10px;
}
.box img{
    max-width: 45px;
    margin-bottom: 20px;
}
.box-heading{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
}
.box:hover{
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


/*========== online courses start========== */
.online-courses{
    padding: 0px 20px;
}
.online-courses .section-heading{
    color: #413960;
}
.course{
    padding: 20px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}
.course .image{
    max-width: 310px;
    margin-bottom: 20px;
}
.course .image img{
    width: 100%;
}
.course .course-heading{
    margin-bottom: 5px;
}
.course-description{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.course-description img{
    width: 25px;
}
.course-description span{
    font-size: 15px;
}


/*=========== testimonial section start ==========*/
.testimonial{
    padding: 60px 20px;
}
.testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial-content{
    max-width: 650px;
}
.testimonial-content .image{
    max-width: 100px;
}
.testimonial-content .image img{
    width: 100%;
}


/*=========== quick-links section start ==========*/
.quick-links{
    padding: 60px 20px;
    background-color: #282531;
    color: #fff;
}
.site-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}
.site-links .text{
    max-width: 350px;
}
.links-list ul{
    list-style: none;
}
.links-list ul li{
    padding: 3px 0px;
}
.links-list ul li a{
    text-decoration: none;
    color: #fff;
}
.links-list ul li:first-child{
    font-size: 18px;
    font-weight: 600;
}
.footer{
    background-color: #282531;
}
.footer p{
    color: #fff;
}
